@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(145deg, #1a0026, #000, #240046);
  background-attachment: fixed;
}
